@import '~ant-design-vue/dist/antd.less';
@import "~/node_modules/timeline-vuejs/dist/timeline-vuejs.css";
// My colors
@off-white: #FEFEFE;
@light-gray: #C4C4C4;
@middle-gray: #828282;
@dark-gray: #424242;
@darker-gray: #212121;
@pdb-dark-blue: #1c4d6b;
@pdb-light-blue: #00b6d3;
@dbkoda-purple: #363951;
@light-purple: #9B51E0;
@dark-purple: #8B6EA6;
@dark-red: #513640;
@background-gradient: linear-gradient(180deg, rgba(65,43,57,1) 0%, rgba(81,54,64,1) 69%, rgba(255,255,255,0) 100%);

@body-background: @dark-red;
@component-background: #fff;
@font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
@code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@primary-color: @dark-purple; // primary color for all components
@link-color: @dark-purple; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers


// Layout
@layout-body-background: @background-gradient;
@layout-header-background: @darker-gray;
@layout-footer-background: @darker-gray;


.column {
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1280px;
  span {
    color: @off-white;
    font-size: 16px;
  }
}

h1 {
  color: @off-white;
  font-size: 54px;
  font-weight: lighter;
}
h2 {
  color: @light-gray;
  font-size: 34px;
  font-weight: bold;
}
.projectCard {
  background-color: @off-white !important;
}

.ant-layout-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: @off-white;
  div {
    margin-bottom: 10px;
  }
}


.timeline-item {
  background-color: @off-white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.section-year {
  color: @off-white;
}
