@import '~ant-design-vue/dist/antd.less';

// My colors
@off-white: #FEFEFE;
@light-gray: #C4C4C4;
@middle-gray: #828282;
@dark-gray: #424242;
@dark-gray: #212121;
@pdb-dark-blue: #1c4d6b;
@pdb-light-blue: #00b6d3;
@dbkoda-purple: #363951;
@light-purple: #9B51E0;
@dark-purple: #8B6EA6;


@body-background: @dbkoda-purple;
@component-background: #fff;
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
@code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@primary-color: @dark-purple; // primary color for all components
@link-color: @dark-purple; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers


// Layout
@layout-body-background: @dbkoda-purple;
@layout-header-background: @dark-gray;
@layout-footer-background: @layout-body-background;

.projectCard {
  background-color: @off-white !important;
}